@import 'var.scss';

.#{$tag} {
  display: inline-flex;
  padding: 0 $tag-padding;
  margin: $tag-margin;
  font-size: $tag-font-size;
  line-height: $tag-font-line-height;
  border: $tag-border-width $tag-border-type $tag-border-color;

  &-radius {
    border-radius: $tag-border-radius;
  }

  &-round {
    border-radius: $tag-border-round;
  }

  // &-sm {
  //   padding: $tag-padding-sm;
  // }

  // &-lg {
  //   padding: $tag-padding-lg;
  // }
}